# This requirements are for development and testing only, not for production.
pytest
coverage
flake8
black
isort
pytest-cov
mypy
gitchangelog
mkdocs
lark
types-requests
requests-mock
setuptools>=65.5.0
av
